.header {
  display: flex;
  width: 100%;
  max-width: 880px;
  border-bottom: 1px solid #555;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo {
  width: 20%;
  max-width: 170px;
  min-width: 126px;
  height: auto;
  margin-left: 28px;
}

.header__text-container {
  margin: 28px;
  gap: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 28px;
}

.header__text {
  font-size: 1em;
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding-top: 10px;
  background: none;
  border: none
}

.header__icon {
  width: 16px;
  background: url(../../public/icons/sign_out.svg);
  height: 19px;
  border: none;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  transition: 0.3s;
}



@media screen and (min-width: 400px) {
  .header__logo {
    width: 170px;
  }
}

/* 3 clases nuevas con 3 svg nuevas

*/

/* @media screen and (max-width: 768px) {
  .header {
    margin-bottom: 38px;
    padding: 28px 0 32px 0;
  }
    .header__logo {
        width: 126px;
    }
} */