.header {
  display: flex;
  width: 100%;
  max-width: 880px;
  border-bottom: 1px solid #555;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo {
  width: 20%;
  max-width: 170px;
  min-width: 126px;
  height: auto;
  margin: 28px;
}

.header__text-container {
  margin: 28px;
  gap: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__text {
  font-size: 1em;
}

.header__icon {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .header__logo {
    width: 170px;
  }
}

/* @media screen and (max-width: 768px) {
  .header {
    margin-bottom: 38px;
    padding: 28px 0 32px 0;
  }
    .header__logo {
        width: 126px;
    }
} */